* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
body {
    width: 1440px;
    height: 1533px;
}
/* Header Start */
.top-header {
    background-color: black;
    color: white;
    display: flex;
    width: 1440px;
    height: 84px;
    align-items: center;
    justify-content: space-between;
    padding: 0 135px;
    font-size: 14px;
}

.top-heading {
    margin-left: 20%;
}
.top-heading ins {
    font-size: 14px;
    font-weight: bold;
}
.top-dropdown {
    margin-left: 20px;
}
/* Header End */
/* Navbar Start */
.navbar {
    display: flex;
    padding: 88px 135px;
    justify-content: space-between;
    width: 100%;
    height: 38px;
    align-items: center;
}
.navbar h2 {
    font-size: 24px;
    font-weight: bold;
}
.nav-ul {
    display: flex;
    list-style: none;
    column-gap: 48px;
}
.nav-ul li {
    font-size: 16px;
}
.navbar-right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
form {
    border-radius: 4px;
    background-color: #f5f5f5;
    color: #828288; 
    padding: 7px 20px 7px 12px;
    border: none;
    margin-left: auto;
}

i {
    width: 24px;
    height: 24px;
    padding: 4px;
    border-radius: 4px;
    color: #828288;
}

input {
    width: 160px;
    height: 18px;
    padding: 4px;
    border: none;
    border-radius: 4px;
    background-color: #f5f5f5;
    color: #828288;
    font-size: 12px;
    gap: 34px;
}
.icons {
    width: 128px;
    height: 32px;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.love {
    width: 32px;
    height: 32px;
}
.shop {
    width: 32px;
    height: 32px;
}
.user {
    width: 32px;
    height: 32px;
}
/* Navbar End */
/* Account Start */
.my-account {
    display: flex;
    padding: 222px 135px;
    justify-content: space-between;
}
.my-account-left ul{
    display: flex;
    list-style: none;
    column-gap: 8px;
    font-size: 14px;
}
.my-account-right ul{
    display: flex;
    list-style: none;
    column-gap: 5px;
    font-size: 14px;
}
.account-left h3 {
    width: 166px;
    height: 24px;
    font-size: 16px;
}
.account-left ul li {
    width: 166px;
    height: 24px;
    font-size: 16px;
}
.li-home {
    color: #828288;
}
.active {
    color: #DB4444;
}
.account-container {
    width: 780px;
    height: 630px;
    padding: 0 135px;
    display: flex;
    justify-content: space-between;
}
.account-left h3 {
    margin: 10px 0;
}
.account-left ul {
    list-style: none;
    color: #828288;
    margin-top: 10px;
}
.account-left ul li {
    margin-top: 10px;
    margin-left: 30px;
    font-size: 16px;
}
.account-right {
    width: 780;
    height: 630px;
    padding: 40px 80px;
}
.account-right h2{
    font-size: 20px;
    color: #DB4444;
}
.name {
    width: 710px;
    height: 82px;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    column-gap: 16px;
    font-size: 16px;
}
.inputbox {
   width: 330px;
   height: 50px;
   font-size: 16px;
}
.inputbox input {
    width: 100%;
    height: 50px;
    margin-top: 16px;
    font-size: 16px;
}
.e-mail-password {
    width: 710px;
    height: 82px;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    column-gap: 16px;
    font-size: 16px;
}
.password-change {
    width: 710px;
    height: 214px;
    column-gap: 50px;
    font-size: 16px;
    margin-top: 20px;
}
.password-change input {
    width: 100%;
    height: 50px;
    margin-top: 16px;
    font-size: 16px;
}
.btn-account {
    width: 303px;
    height: 56px;
    display: flex;
    margin-left: auto;
    column-gap: 10px;
    margin-top: 20px;
}
.cancel {
    padding: 16px 24px;
    border: none;
    background-color: #FFFF;
    color: #0D0D0D;
    font-size: 16px;
}
.save-change {
    width: 214px;
    padding: 16px 24px;
    border: none;
    border-radius: 4px;
    background-color: #DB4444;
    color: #FFFF;
    font-size: 16px;
}
/* Account End */
/* Footer Start */
.footer{
    width: 100%;
    height: 440px;
    background-color: #0D0D0D;
    color: #FFFF;
    padding: 80px 135px;
    display: flex;
    justify-content: space-between;
}
.footer h2 {
    font-size: 24px;
    font-weight: bold;
}
.footer h3 {
    font-size: 20px;
}
.footer p {
    font-size: 16px;
}
.executive form {
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    color: #828288; 
    padding: 12px 16px 12px 0px;
    background-color: #0D0D0D;
    margin-top: 20px;
    margin-left: auto;
    width: 217px;
    height: 48px;
    text-align: center;
}
.executive input {
    background-color: #0D0D0D;
    width: 150px;
}
.send {
    width: 24px;
    height: 24px;
    color: #828288;
    background-color: #0D0D0D;
}

.executive h3 {
    margin-top: 24px;
}
.executive p {
    margin-top: 20px;
}
.copyright {
    background-color: #0D0D0D;
    text-align: center;
    padding: 2% 0%;
}
.account ul li {
    list-style: none;
    margin-top: 24px;
}
.support p {
    margin-top: 24px;
}
.quick-link ul li {
    list-style: none;
    margin-top: 24px;
}
.download-app p {
    margin-top: 24px;
}
.apps {
    padding: 10px 10px;
    display: flex;
}
.play-app-store a {
    margin: 5px 10px;
}
.social-icons img {
    margin-right: 24px;
}
/* Footer End */
@media screen {
    html, body {
        overflow-x: hidden;
    }
}

/* @media screen and (max-width:1350px) {
    .top-header {
        background-color: black;
        color: white;
        width: 100%;
        height: 100px;
        padding: 1rem 5rem;
    }
    .top-heading {
        margin-left: 0;
    }
    .top-dropdown {
        margin-left: 20px;
    }
    .navbar {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        padding: 1rem 5rem;
        margin: 0;
        align-items: center;
    }
    .nav-ul{
        margin: 10px;
        text-align: center;
        column-gap: 20px;
    }
    .navbar-right-side {
        padding: 0;
        justify-content: space-between;
    }
    .nav-right-form {
        border-radius: 10px;
        background-color: #f5f5f5;
        color: #828288; 
        padding: 4px;
        margin-top: 10px;
        margin-left: 0;
    }
    .nav-right-form>input {
        border: none;
        border-radius: 10px;
        background-color: #f5f5f5;
        color: #828288;
    }
    .nav-right-form {
        border-radius: 10px;
        background-color: #f5f5f5;
        color: #828288; 
        border: none;
        margin-left: 0;
    }
    .icons {
        column-gap: 20px;
    }
    .my-account, .account-container {
        padding: 2rem 5rem;
    }
    .account-left h3 {
        width: 280px;
    }
    .account-left ul li {
        margin-left: 20px;
    }
    .name {
        width: 480px;
        column-gap: 10%;
    }
    .inputbox {
       width: 480px;
    }
    .e-mail-password {
        width: 480px;
        margin: 10px 0;
        column-gap: 5%;
    }
    .password-change {
        width: 480px;
        height: auto;
    }
    .password-change input {
        width: 100%;
        margin: 10px 0;
    }
    .footer{
        width: 100%;
        height: auto;
        background-color: #0D0D0D;
        color: #FFFF;
        padding: 5rem 5rem;
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .executive input {
        position: relative;
        background-color: #0D0D0D;
        width: 150px;
        border: none;
        padding-bottom: 10px;
    }
    .send {
        position: absolute;
        color: #828288;
        background-color: #0D0D0D;
    }
} */
/* 
@media screen and (max-width:1024px) {
    .top-header {
        background-color: black;
        color: white;
        width: 100%;
        height: 100px;
        padding: 1rem 3rem;
    }
    .top-heading {
        margin-left: 0;
    }
    .top-dropdown {
        margin-left: 10px;
    }
    .navbar {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        padding: 1rem 3rem;
        margin: 0;
        align-items: center;
    }
    .nav-ul{
        margin: 10px;
        column-gap: 10px;
        text-align: center;
       
    }
    .navbar-right-side {
        padding: 0;
        justify-content: space-between;
    }
    .nav-right-form {
        border-radius: 10px;
        background-color: #f5f5f5;
        color: #828288; 
        padding: 4px;
        margin-top: 10px;
        margin-left: 0;
    }
    .nav-right-form>input {
        border: none;
        border-radius: 10px;
        background-color: #f5f5f5;
        color: #828288;
    }
    .nav-right-form {
        border-radius: 10px;
        background-color: #f5f5f5;
        color: #828288; 
        border: none;
        margin-left: 0;
    }
    .icons {
        column-gap: 20px;
    }
    .my-account, .account-container {
        padding: 1rem 3rem;
    }
    .account-left h3 {
        width: 280px;
    }
    .account-left ul li {
        margin-left: 20px;
    }
    .name {
        width: 480px;
        column-gap: 5%;
    }
    .inputbox {
       width: 480px;
    }
    .e-mail-password {
        width: 480px;
        margin: 10px 0;
        column-gap: 5%;
    }
    .password-change {
        width: 480px;
        height: auto;
    }
    .password-change input {
        width: 100%;
        margin: 10px 0;
    }
    .footer{
        width: 100%;
        height: auto;
        background-color: #0D0D0D;
        color: #FFFF;
        padding: 3rem;
        display: grid;
        grid-template-columns: auto  auto auto;
        row-gap: 20px;
    }
    .executive form {
        margin-left: 0;
    }
    .executive input {
        position: relative;
        background-color: #0D0D0D;
        width: 150px;
        border: none;
        padding-bottom: 10px;
    }
    .send {
        position: absolute;
        color: #828288;
        background-color: #0D0D0D;
    }
} */

/* @media screen and (max-width:900px) {
    .top-header {
        background-color: black;
        color: white;
        width: 100%;
        height: 100px;
        padding: 2rem;
    }
    .top-heading {
        margin-left: 0;
    }
    .top-dropdown {
        margin-left: 10px;
    }
    .navbar {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        margin: 0;
        
    }
    .nav-ul{
        margin: 10px;
        align-items: center;
        justify-content: center;
    }
    .navbar-right-side {
        padding: 0;
        justify-content: space-between;
    }
    .nav-right-form {
        border-radius: 10px;
        background-color: #f5f5f5;
        color: #828288; 
        padding: 2px;
        margin-top: 10px;
        margin-left: 0;
    }
    .nav-right-form>input {
        border: none;
        border-radius: 10px;
        background-color: #f5f5f5;
        color: #828288;
    }
    .nav-right-form {
        border-radius: 10px;
        background-color: #f5f5f5;
        color: #828288; 
        border: none;
        margin-left: 0;
    }
    .icons {
        column-gap: 5px;
    }
    .my-account, .account-container {
        padding: 2rem;
    }
    .account-left h3 {
        width: 270px;
    }
    .account-left ul li {
        margin-left: 10px;
    }
    .name {
        width: 450px;
        column-gap: 5%;
    }
    .inputbox {
       width: 450px;
    }
    .e-mail-password {
        width: 450px;
        margin: 10px 0;
        column-gap: 5%;
    }
    .password-change {
        width: 450px;
        height: auto;
    }
    .password-change input {
        width: 100%;
        margin: 10px 0;
    }
    .footer{
        width: 100%;
        height: auto;
        background-color: #0D0D0D;
        color: #FFFF;
        padding: 2rem;
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 20px;
    }
    .executive form {
        margin-left: 0;
    }
    .executive input {
        position: relative;
        background-color: #0D0D0D;
        width: 150px;
        border: none;
        padding-bottom: 10px;
    }
    .send {
        position: absolute;
        color: #828288;
        background-color: #0D0D0D;
    }
}

@media screen and (max-width:768px) {
    .top-header {
        background-color: black;
        color: white;
        width: 100%;
        height: 100px;
        padding: 2rem;
    }
    .top-heading {
        margin-left: 0;
    }
    .top-dropdown {
        margin-left: 10px;
    }
    .navbar {
        width: 100%;
        height: auto;
        display: flex;
        padding: 1rem;
        margin: 0;
        text-align: center;
    }
    .nav-ul{
        margin: 10px;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
    }
    .navbar-right-side {
        padding: 0;
        display: block;
        margin-top: 40px;
    }
    input {
        padding: 2px;
    }
    i {
        padding: 2px;
    }
    .icons {
        justify-content: space-between;
    } 
    .nav-right-form {
        border-radius: 10px;
        background-color: #f5f5f5;
        color: #828288; 
        padding: 1px;
        margin-top: 10px;
        margin-left: 0;
    }
    .nav-right-form>input {
        border: none;
        border-radius: 10px;
        background-color: #f5f5f5;
        color: #828288;
    }
    .nav-right-form {
        border-radius: 10px;
        background-color: #f5f5f5;
        color: #828288; 
        border: none;
        margin-left: 0;
    }
    .my-account, .account-container {
        padding: 1rem;
    }
    .account-left h3 {
        width: 200px;
    }
    .account-left ul li {
        margin-left: 10px;
    }
    .name {
        width: 300px;
        column-gap: 5%;
    }
    .inputbox {
       width: 300px;
    }
    .e-mail-password {
        width: 300px;
        margin: 10px 0;
        column-gap: 5%;
    }
    .password-change {
        width: 300px;
        height: auto;
    }
    .password-change input {
        width: 100%;
        margin: 10px 0;
    }
    .footer{
        width: 100%;
        height: auto;
        background-color: #0D0D0D;
        color: #FFFF;
        padding: 2rem;
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 20px;
    }
    .executive form {
        margin-left: 0;
    }
    .executive input {
        position: relative;
        background-color: #0D0D0D;
        width: 150px;
        border: none;
        padding-bottom: 10px;
    }
    .send {
        position: absolute;
        color: #828288;
        background-color: #0D0D0D;
    }
}

@media screen and (max-width:600px) {
    .top-header {
        background-color: black;
        color: white;
        width: 100%;
        height: 100px;
        padding: 1rem;
    }
    .top-heading {
        margin-left: 0;
    }
    .navbar {
        width: 100%;
        height: auto;
        display: block;
        padding: 1rem;
        margin: 0;
        text-align: center;
    }
    .nav-ul{
        margin: 10px;
        align-items: center;
        justify-content: space-between;
    }
    .navbar-right-side {
        padding: 0;
        justify-content: space-between;
    }
    .nav-right-form {
        border-radius: 10px;
        background-color: #f5f5f5;
        color: #828288; 
        padding: 2px;
        margin-top: 10px;
    }
    .nav-right-form>input {
        border: none;
        border-radius: 10px;
        background-color: #f5f5f5;
        color: #828288;
    }
    .nav-right-form {
        border-radius: 10px;
        background-color: #f5f5f5;
        color: #828288; 
        border: none;
        margin-left: 0;
    }
    .icons {
        justify-content: space-between;
    }
    .my-account, .account-container {
        padding: 1rem;
    }
    .account-left h3 {
        width: 120px;
        font-size: 12px;
    }
    .account-left ul li {
        margin-left: 10px;
        font-size: 11px;
    }
    .name {
        width: 250px;
        column-gap: 5%;
    }
    .inputbox {
       width: 180px;
       font-size: 12px;
    }
    .inputbox input {
        font-size: 12px;
    }
    .e-mail-password {
        width: 250px;
        font-size: 12px;
        margin: 10px 0;
        column-gap: 5%;
    }
    .password-change {
        width: 250px;
        height: auto;
        font-size: 12px;
    }
    .password-change input {
        width: 100%;
        margin: 10px 0;
        font-size: 12px;
    }
    
    .footer{
        width: 100%;
        height: auto;
        background-color: #0D0D0D;
        color: #FFFF;
        padding: 1rem;
        row-gap: 20px;
        display: grid;
        grid-template-columns: auto auto;
    }
    .footer-container {
        display: grid;
        grid-template-columns: auto auto;
    }
    .executive form {
        margin-left: 0;
    }
    .executive input {
        position: relative;
        background-color: #0D0D0D;
        width: 150px;
        border: none;
        padding-bottom: 10px;
    }
    .send {
        position: absolute;
        color: #828288;
        background-color: #0D0D0D;
    }
    
} */
@media screen and (max-width: 425PX) {
    .top-header {
        width: 30%;
        height: 50px;
        padding: 1rem;
    }
    .top-heading {
        margin-left: 0;
    }
    .navbar {
        display: grid;
        grid-template-columns: auto;
        padding: 1rem;
        width: 30%;
        height: auto;
        row-gap: 15px;
    }
    .navbar h2 {
        text-align: center;
    }
    .nav-ul {
        justify-content: center;
        margin-left: 10px;
    }
    .navbar-right-side {
        margin-left: 20px;
        column-gap: 20px;
    }
    .icons {
        gap: 10px;
    }
    .my-account {
        width: 30%;
        padding: 1rem;
    }
    .account-container {
        width: 30%;
        display: grid;
        padding: 1rem;
        height: auto;
    }
    .account-left {
        width: 56%;
        height: auto;
    }
    .account-right {
        width: 56%;
        height: 500px;
        padding: 0;
    }
    .name {
        width: 190px;
        font-size: 14px;
        margin-top: 10px;
    }
    .inputbox {
       width: 190px;
       height: 30px;
       font-size: 14px;
       margin-top: 10px;
    }
    .inputbox input {
        width: 190px;
        height: 30px;
        font-size: 14px;
        margin-top: 10px;
    }
    .e-mail-password {
        width: 56%;
        font-size: 14px;
        margin-top: 10px;
    }
    .password-change {
        width: 397px;
        font-size: 14px;
        margin-top: 10px;
    }
    .password-change input {
        width: 100%;
        height: 30px;
        font-size: 14px;
        margin-top: 10px;
    }
    .btn-account {
        margin: 0 0 0 15%;
    }
    .footer {
        width: 30%;
        height: auto;
        padding: 1rem;
        display: grid;
        grid-template-columns: auto auto;
    }
    .footer h2 {
        font-size: 18px;
        font-weight: bold;
    }
    .footer h3 {
        font-size: 16px;
    }
    .footer p {
        font-size: 14px;
    }
    .executive form {
        padding: 5px 7px 5px 0;
        margin-left: 0;
        height: 35px;
        width: 180px;
        margin: 10px 0;
    }
    .executive input {
        width: 130px;
    }
    .copyright {
        width: 30%;
        padding: 1rem;
        align-items: center;
    }

}