* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
/* Header Start */
.top-header {
    background-color: black;
    color: white;
    display: flex;
    width: auto;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
}

.top-heading {
    margin-left: 20%;
}
.top-dropdown {
    margin-left: 20px;
}
/* Header End */
/* Navbar Start */
.navbar {
    display: flex;
    padding: 2% 8%;
    justify-content: space-between;
    width: 100%;
    height: 80px;
}

.nav-ul {
    display: flex;
    list-style: none;
    column-gap: 55px;
}

.navbar-right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
form {
    border-radius: 10px;
    background-color: #f5f5f5;
    color: #828288; 
    padding: 4px 8px;
    border: none;
    margin-left: auto;
}

i {
    color: #828288;
}

input {
    padding: 8px;
    border: none;
    border-radius: 10px;
    background-color: #f5f5f5;
    color: #828288;
}
.icons {
    height: 40px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.love {
    width: 32px;
    height: 32px;
}
.shop {
    width: 32px;
    height: 32px;
}
.user {
    width: 32px;
    height: 32px;
}
/* Navbar End */
/* Account Start */
.my-account {
    display: flex;
    padding: 2% 8%;
    justify-content: space-between;
}
.my-account-left ul{
    display: flex;
    list-style: none;
    column-gap: 10px;
}
.my-account-right ul{
    display: flex;
    list-style: none;
    column-gap: 5px;
}
.li-home {
    color: #828288;
}
.active {
    color: #DB4444;
}
.account-container {
    padding: 2% 8%;
    display: flex;
    justify-content: space-between;
}
.account-left h3 {
    margin: 10px 0;
}
.account-left ul {
    list-style: none;
    color: #828288;
    margin-top: 10px;
}
.account-left ul li {
    margin-top: 10px;
    margin-left: 30px;
}
.account-right {
    /* width: auto;
    height: 630px; */
    padding: 3% 5%;
}
.name {
    width: 710px;
    height: 82px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    column-gap: 5%;
}
.inputbox {
   width: 350px;
   height: 82px;
}
.inputbox input {
    width: 100%;
    margin: 10px 0;
}
.e-mail-password {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    column-gap: 5%;
}
.password-change {
    width: 710px;
    height: auto;
}
.password-change input {
    width: 100%;
    margin: 10px 0;
}
.btn-account {
    width: 220px;
    height: 56px;
    margin-left: auto;
    margin-top: 10px;
}
.cancel {
    padding: 10px 20px;
    border: none;
    background-color: #FFFF;
    color: #0D0D0D;
}
.save-change {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #DB4444;
    color: #FFFF;
}
/* Account End */
/* Footer Start */
.footer{
    width: 100%;
    height: 440px;
    background-color: #0D0D0D;
    color: #FFFF;
    padding: 8% 8%;
    display: flex;
    justify-content: space-between;
}
.executive form {
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    color: #828288; 
    padding: 4px 8px;
    background-color: #0D0D0D;
    margin-top: 10px;
    margin-left: auto;
    width: 200px;
    height: auto;
}
.executive input {
    position: relative;
    background-color: #0D0D0D;
    width: 150px;
}
.send {
    position: absolute;
    color: #828288;
    background-color: #0D0D0D;
    margin-top: 5px;
}

.executive h3 {
    margin-top: 10px;
}
.executive p {
    margin-top: 10px;
}
.copyright {
    background-color: #0D0D0D;
    text-align: center;
    padding: 2% 0%;
}
.account ul li {
    list-style: none;
    margin-top: 20px;
}
.support p {
    margin-top: 20px;
}
.quick-link ul li {
    list-style: none;
    margin-top: 20px;
}
.download-app p {
    margin-top: 20px;
}
.apps {
    padding: 10px 10px;
    display: flex;
}
.play-app-store a {
    margin: 5px 10px;
}
.social-icons img {
    margin-right: 20px;
}
/* Footer End */
@media screen {
    html, body {
        overflow-x: hidden;
    }
}

@media screen and (max-width:1350px) {
    .top-header {
        background-color: black;
        color: white;
        width: 100%;
        height: 100px;
        padding: 1rem 5rem;
    }
    .top-heading {
        margin-left: 0;
    }
    .top-dropdown {
        margin-left: 20px;
    }
    .navbar {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        padding: 1rem 5rem;
        margin: 0;
        align-items: center;
    }
    .nav-ul{
        margin: 10px;
    }
    .navbar-right-side {
        padding: 0;
        justify-content: space-between;
    }
    .nav-right-form {
        border-radius: 10px;
        background-color: #f5f5f5;
        color: #828288; 
        padding: 4px;
        margin-top: 10px;
        margin-left: 0;
    }
    .nav-right-form>input {
        border: none;
        border-radius: 10px;
        background-color: #f5f5f5;
        color: #828288;
    }
    .nav-right-form {
        border-radius: 10px;
        background-color: #f5f5f5;
        color: #828288; 
        border: none;
        margin-left: 0;
    }
    .executive input {
        position: relative;
        background-color: #0D0D0D;
        width: 150px;
        border: none;
        padding-bottom: 10px;
    }
    .send {
        position: absolute;
        color: #828288;
        background-color: #0D0D0D;
    }
}

@media screen and (max-width:1024px) {
    .top-header {
        background-color: black;
        color: white;
        width: 100%;
        height: 100px;
        padding: 1rem 5rem;
    }
    .top-heading {
        margin-left: 0;
    }
    .top-dropdown {
        margin-left: 10px;
    }
    .navbar {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        padding: 1rem 5rem;
        margin: 0;
        align-items: center;
    }
    .nav-ul{
        margin: 10px;
        column-gap: 20px;
       
    }
    .navbar-right-side {
        padding: 0;
        justify-content: space-between;
    }
    .nav-right-form {
        border-radius: 10px;
        background-color: #f5f5f5;
        color: #828288; 
        padding: 4px;
        margin-top: 10px;
        margin-left: 0;
    }
    .nav-right-form>input {
        border: none;
        border-radius: 10px;
        background-color: #f5f5f5;
        color: #828288;
    }
    .nav-right-form {
        border-radius: 10px;
        background-color: #f5f5f5;
        color: #828288; 
        border: none;
        margin-left: 0;
    }
    .footer{
        width: 100%;
        height: auto;
        background-color: #0D0D0D;
        color: #FFFF;
        padding: 5rem;
        display: grid;
        grid-template-columns: auto  auto auto;
        row-gap: 20px;
    }
    .executive form {
        margin-left: 0;
    }
    .executive input {
        position: relative;
        background-color: #0D0D0D;
        width: 150px;
        border: none;
        padding-bottom: 10px;
    }
    .send {
        position: absolute;
        color: #828288;
        background-color: #0D0D0D;
    }
}

@media screen and (max-width:900px) {
    .top-header {
        background-color: black;
        color: white;
        width: 100%;
        height: 100px;
        padding: 2rem;
    }
    .top-heading {
        margin-left: 0;
    }
    .top-dropdown {
        margin-left: 10px;
    }
    .navbar {
        width: 100%;
        height: auto;
        display: block;
        padding: 2rem;
        margin: 0;
        
    }
    .nav-ul{
        margin: 10px;
        /* align-items: center;
        justify-content: center; */
    }
    .navbar-right-side {
        padding: 0;
        justify-content: space-between;
    }
    .nav-right-form {
        border-radius: 10px;
        background-color: #f5f5f5;
        color: #828288; 
        padding: 2px;
        margin-top: 10px;
        margin-left: 0;
    }
    .nav-right-form>input {
        border: none;
        border-radius: 10px;
        background-color: #f5f5f5;
        color: #828288;
    }
    .nav-right-form {
        border-radius: 10px;
        background-color: #f5f5f5;
        color: #828288; 
        border: none;
        margin-left: 0;
    }
    .footer{
        width: 100%;
        height: auto;
        background-color: #0D0D0D;
        color: #FFFF;
        padding: 2rem;
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 20px;
    }
    .executive form {
        margin-left: 0;
    }
    .executive input {
        position: relative;
        background-color: #0D0D0D;
        width: 150px;
        border: none;
        padding-bottom: 10px;
    }
    .send {
        position: absolute;
        color: #828288;
        background-color: #0D0D0D;
    }
}

@media screen and (max-width:768px) {
    .top-header {
        background-color: black;
        color: white;
        width: 100%;
        height: 100px;
        padding: 2rem;
    }
    .top-heading {
        margin-left: 0;
    }
    .top-dropdown {
        margin-left: 10px;
    }
    .navbar {
        width: 100%;
        height: auto;
        display: block;
        padding: 2rem;
        margin: 0;
        text-align: center;
    }
    .nav-ul{
        margin: 10px;
        align-items: center;
        justify-content: center;
    }
    .navbar-right-side {
        padding: 0;
        justify-content: space-between;
    }
    .nav-right-form {
        border-radius: 10px;
        background-color: #f5f5f5;
        color: #828288; 
        padding: 2px;
        margin-top: 10px;
        margin-left: 0;
    }
    .nav-right-form>input {
        border: none;
        border-radius: 10px;
        background-color: #f5f5f5;
        color: #828288;
    }
    .nav-right-form {
        border-radius: 10px;
        background-color: #f5f5f5;
        color: #828288; 
        border: none;
        margin-left: 0;
    }
    .footer{
        width: 100%;
        height: auto;
        background-color: #0D0D0D;
        color: #FFFF;
        padding: 2rem;
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 20px;
    }
    .executive form {
        margin-left: 0;
    }
    .executive input {
        position: relative;
        background-color: #0D0D0D;
        width: 150px;
        border: none;
        padding-bottom: 10px;
    }
    .send {
        position: absolute;
        color: #828288;
        background-color: #0D0D0D;
    }
}

@media screen and (max-width:600px) {
    .top-header {
        background-color: black;
        color: white;
        width: 100%;
        height: 100px;
        padding: 1rem;
    }
    .top-heading {
        margin-left: 0;
    }
    .navbar {
        width: 100%;
        height: auto;
        display: block;
        padding: 1rem;
        margin: 0;
        text-align: center;
    }
    .nav-ul{
        margin: 10px;
        align-items: center;
        justify-content: center;
    }
    .navbar-right-side {
        padding: 0;
        justify-content: space-between;
    }
    .nav-right-form {
        border-radius: 10px;
        background-color: #f5f5f5;
        color: #828288; 
        padding: 2px;
        margin-top: 10px;
        margin-left: 0;
    }
    .nav-right-form>input {
        border: none;
        border-radius: 10px;
        background-color: #f5f5f5;
        color: #828288;
    }
    .nav-right-form {
        border-radius: 10px;
        background-color: #f5f5f5;
        color: #828288; 
        border: none;
        margin-left: 0;
    }
    .footer{
        width: 100%;
        height: auto;
        background-color: #0D0D0D;
        color: #FFFF;
        padding: 1rem;
        row-gap: 20px;
        display: grid;
        grid-template-columns: auto;
    }
    .footer-container {
        display: grid;
        grid-template-columns: auto;
    }
    .executive form {
        margin-left: 0;
    }
    .executive input {
        position: relative;
        background-color: #0D0D0D;
        width: 150px;
        border: none;
        padding-bottom: 10px;
    }
    .send {
        position: absolute;
        color: #828288;
        background-color: #0D0D0D;
    }
    
}